<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}">
</head>
<body>
    <h1 style="margin: 1em;">ID аккаунта     ID игры</h1>
    <ul>
        {% for acc in accs %}
            <li>
                <div>
                    {{ acc.id|e }}
                    {{ acc.name|e }}  
                </div>
            </li> 
        {% endfor %}
    </ul>
</body>
</html>
