* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
}

li {
    margin: 1em;
    list-style-type: none;
    background-color: aliceblue;
}
